<nav class="navbar navbar-expand-lg navbar-light text-primary bg-white" style="border-bottom: 2px solid #007bff ">
    <a class="navbar-brand" href="/"><strong>People</strong>Portal</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row w-100">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <div class="pd-2 d-inline mr-2 d-flex align-items-center" *ngIf="isUserLoggedIn">
                    <div class="p-2">
                        <img class="img" height="30"
                             src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png"/>
                    </div>
                    <div class="p-2">
                      <span class="">
                        {{(user === undefined) ? '' : user.getName()|titlecase}} <small
                              class="d-block">{{(user === undefined) ? '' : user.getRole()|titlecase}}</small>
                      </span>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-outline-secondary">Logout</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
