<div class="container">
  <div class="d-flex justify-content-end mb-2">
    <button *ngIf="authService.userCan('employee_create')" (click)="addEmployee()" mat-stroked-button color="primary"
            class="mt-2 mr-0">
      <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
      New Employee
    </button>
  </div>
  <div class="col-sm-12">

    <mat-card>
      <table mat-table [dataSource]="employees" class="w-100">
        <ng-container matColumnDef="roomId">
          <th mat-header-cell *matHeaderCellDef> Room ID</th>
          <td mat-cell *matCellDef="let element"> {{element.roomId}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="bookingEmail">
          <th mat-header-cell *matHeaderCellDef> Booking Email</th>
          <td mat-cell *matCellDef="let element"> {{element.bookingEmail}} </td>
        </ng-container>


        <ng-container matColumnDef="sitting">
          <th mat-header-cell *matHeaderCellDef> Sitting</th>
          <td mat-cell *matCellDef="let element"> {{element.sitting}} </td>
        </ng-container>

        <ng-container matColumnDef="currentStatus">
          <th mat-header-cell *matHeaderCellDef> Current Status</th>
          <td mat-cell *matCellDef="let element"> {{element.currentStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
          <td mat-cell *matCellDef="let element">
                    <span class="d-flex w-100  justify-content-around pd-2">
                        <i *ngIf="authService.userCan('conf_room_edit')" style="cursor: pointer" (click)="editRoom(element)" class="fa fa-pencil text-warning"></i>
                        <i *ngIf="authService.userCan('conf_room_delete')" style="cursor: pointer" (click)="deleteRoom(element)" class="fa fa-trash text-danger"></i>
                    </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>


    <table class="table table-striped table-bordered table-responsive">
      <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{employee.empId}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.team}}</td>
        <td>{{employee.phone}}</td>
        <td>
              <span class="d-flex w-100  justify-content-between pd-2">
               <a *ngIf="authService.userCan('employee_edit')" href="#" (click)="editEmployee(employee)"> <i
                 class="fa fa-pencil text-warning"></i></a>
                <a *ngIf="authService.userCan('employee_delete')" href="#" (click)="deleteEmployee(employee)">  <i
                  class="fa fa-trash text-danger"></i></a>
              </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-edit *ngIf="editMode" [employee]="employee"></app-edit>
<app-employee-create *ngIf="createMode"></app-employee-create>
