<h2 mat-dialog-title>Roles</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <div class="form-group ">
            <label>Role</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="role.title">
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Permissions</mat-label>
            <mat-select name="capabilities" multiple [value]="role.capabilities" [(ngModel)]="role.capabilities">
                <mat-option *ngFor="let cap of allCaps" [value]="cap">{{cap}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="isEditMode?updateRole():addRole()">Save</button>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
