<div class="popup-container">
    <div class="popup d-flex align-items-center">
        <div class="content-holder bg-white">
            <div class="row">
                <div class="col-sm-12">
                    <form class="p-3" (ngSubmit)="createEmployee()" ngForm="employeeForm">
                        <h4 class="text-center">Edit Employee</h4>
                        <div class="form-group">
                            <label>EmpId</label>
                            <input required type="text" name="empId" id="emp-id" class="form-control"
                                   [(ngModel)]="employee.empId">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input required type="text" name="name" id="name" class="form-control"
                                   [(ngModel)]="employee.name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input required type="email" name="email" id="email" class="form-control"
                                   [(ngModel)]="employee.email">
                        </div>
                        <div class="form-group">
                            <label>Position</label>
                            <input required type="text" name="position" id="position" class="form-control"
                                   [(ngModel)]="employee.position">
                        </div>
                        <div class="form-group">
                            <label>Team</label>
                            <input required type="text" name="team" id="team" class="form-control"
                                   [(ngModel)]="employee.team">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input required type="text" name="phone" id="phone" class="form-control"
                                   [(ngModel)]="employee.phone">
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select class="form-control" name="roleId" [(ngModel)]="employee.roleId">
                                <option *ngFor="let role of roles" [value]="role.id">{{role.title}}</option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary">Submit
                                <i *ngIf="isLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
