.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #00000063;
  z-index: 9;
}

.popup {
  align-items: center !important;
  height: 100%;
  justify-content: center;

}
.content-holder{
  border-radius: 2%;
}
form{
  min-width: 600px;
}
