<h2 mat-dialog-title>Roles</h2>

<mat-dialog-content class="mat-typography">
    <mat-spinner align="center" *ngIf="isLoading"></mat-spinner>
    <div class="d-flex justify-content-end">
        <button (click)="onaddRole()" align="end" *ngIf="!isLoading" mat-stroked-button color="primary"
                class="mt-2 mr-0">
            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
            New Role
        </button>
    </div>
    <table *ngIf="!isLoading" mat-table [dataSource]="roles" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="capabilities">
            <th mat-header-cell *matHeaderCellDef> Associated Permissions</th>
            <td mat-cell *matCellDef="let element">
                <span class="d-flex justify-content-between">
                    <span>
                        <title class="d-block text-center text-secondary font-weight-400">User</title>
                        {{element.capabilities|employee}}
                    </span>
                    <span>
                        <title class="d-block text-center text-secondary font-weight-400">Room</title>
                        {{element.capabilities|room}}
                    </span>
                </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-right"> Actions</th>
            <td mat-cell *matCellDef="let element" class="text-right">
                 <span class="d-flex justify-content-around ml-2">
                    <span>
                            <mat-icon (click)="onEditRole(element)" class="text-warning" aria-hidden="false"
                                      aria-label="Example home icon">edit</mat-icon>
                    </span>
                     <span>
                            <mat-icon (click)="onDeleteRole(element)" aria-hidden="false" class="text-danger"
                                      aria-label="Example home icon">delete</mat-icon>
                     </span>
                 </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
